<div class="col-md-3 col-sm-6 col-xs-12">
  <div class="productBox">
    <%= link_to potepan_product_path(product.id), id: "product_#{product.id}_link" do %>
      <div class="productImage clearfix">
        <%= image_tag(product.image_pickup.url(:product), :alt => "#{product.name}-img") %>
      </div>
      <div class="productCaption clearfix">
        <h5><%= product.name %></h5>
        <h3><%= product.display_price %></h3>
      </div>
    <% end %>
  </div>
</div>